#container {
  background: $white;
  @include box-sizing(border-box);
  position: relative;
  @include  transition(padding, .2s);
  width: 100%;
  max-width: $maxwidth;
  @include central-content();
}

#main-content {
  background: $color-content;
  @include vertical-gutter();
  @include horizontal-gutter();

  p:last-of-type {
    margin-bottom: 0;
  }

  p:first-of-type {
    margin-bottom: $base-lineheight;
  }

}