@mixin button-background($first-color, $second-color, $direction) {
  @if $first-color != $second-color {
    @if $direction == "vertical" {
      @include vertical($first-color, $second-color);
    } @else if $direction == "horizontal" {
      @include horizontal($first-color, $second-color);
    } @else {
      background-color : $first-color;
    }
  } @else {
    background-color : $first-color;
    background-image: none;
  }
}