@mixin button-style-base(
          $button-background-color-info,
          $button-background-gradient-info,
          $button-background-gradient-direction-info,
          $button-border-color-info,
          $button-color-info,
          $button-background-color-info-hover,
          $button-background-gradient-info-hover,
          $button-color-info-hover,
          $input:false) {

    @if $input == false {
      &.btn-shadow {
        > div {
          @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
          border : {
            color : $button-border-color-info;
            bottom-color : darken($button-border-color-info, 10%);
          }
          color : $button-color-info;
        }

        &:visited,
        &:active {
          > div {
            @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
            color : $button-color-info;
          }
        }

        &:hover {
          > div {
            @include button-background($button-background-color-info-hover, $button-background-gradient-info-hover, $button-background-gradient-direction-info);
            color : $button-color-info-hover;
          }
        }
      }

      &:not(.btn-shadow) {

          @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
          border : {
            color : $button-border-color-info;
            bottom-color : darken($button-border-color-info, 10%);
          }
          color : $button-color-info;

        &:visited,
        &:active {
            @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
            color : $button-color-info;
        }

        &:hover {
            @include button-background($button-background-color-info-hover, $button-background-gradient-info-hover, $button-background-gradient-direction-info);
            color : $button-color-info-hover;
        }
      }

    } @else {

      @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
        border : {
          color : $button-border-color-info;
          bottom-color : darken($button-border-color-info, 10%);
        }
        color : $button-color-info;

      &:visited,
      &:active {
          @include button-background($button-background-color-info, $button-background-gradient-info, $button-background-gradient-direction-info);
          color : $button-color-info;
      }

      &:hover {
          @include button-background($button-background-color-info-hover, $button-background-gradient-info-hover, $button-background-gradient-direction-info);
          color : $button-color-info-hover;
      }

    }

}