// =alerts ============

$alert-padding         : 8px 14px;

// Alerts have a default flat background colour
// Add an optional gradient in _bootstrap-alerts.scss
// Configure the gradient colours in _texture.scss
$alert-background-color       : $color-alert;

// Set the alert’s border width
$alert-border-width         : $border-width * 2;

// And the alert’s border style
$alert-border-style         : $border-style;

// By default alert’s border is a tint of $alert-background-color. Adjust percentage as required
$alert-border-color       : darken($alert-background-color, 20%);

// Set the alert’s border radius. Default is $border-radius defined above
$alert-border-radius        : $border-radius;

// Set the alert’s font-size.
// Use only a number. Units (em/px/%) are not required
// Default is $font-size-numeric defined above
$alert-font-size          : $font-size-numeric;

// By default colour is a tint of background colour. Adjust percentage as required
$color-alert           : darken($alert-background-color, 75%);


// Special alerts’ colours are derived from colour palettes above

// Set the error alerts’ border and text colours
$alert-border-color-error      : darken($color-error, 10%);
$color-alert-error        : lighten($color-error, 60%);

// Set the info alerts’ border and text colours
$alert-border-color-info       : darken($color-info, 10%);
$color-alert-info         : darken($color-info, 50%);

// Set the inverse alerts’ border and text colours
$alert-border-color-inverse      : $color-inverse;
$color-alert-inverse        : $white;

// Set the success alerts’ border and text colours
$alert-border-color-success      : darken($color-success, 10%);
$color-alert-success        : darken($color-success, 50%);

// Set the warning alerts’ border and text colours
$alert-border-color-warning      : lighten($color-warning, 20%);
$color-alert-warning        : darken($color-warning, 20%);