//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $color-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:           not-allowed !default;

$border-color            : $color-neutral-lighter;
$border-style            : solid;
$border-width            : 1px;
$border-radius           : 4px;
$border-radius-button    : 4px;
$border-radius-large     : $border-radius*3;

// MISC =============================================================================

// Set a default duration for CSS transitions
$transition-duration       : .25s;