// =breadcrumbs ============

// By default breadcrumbs have a flat background colour
// Add an optional gradient in _bootstrap-breadcrumbs.scss
// Configure the gradient colours in _texture.scss
$breadcrumb-background-color    : lighten($color-neutral, 75%);

// Set the breadcrumbs’ border width
$breadcrumb-border-width      : $border-width;

// By breadcrumbs’ border is a tint of $breadcrumb-background-color. Adjust percentage as required
$breadcrumb-border-color      : darken($breadcrumb-background-color, 5%);

// Set the breadcrumbs’ border style
$breadcrumb-border-style      : $border-style;

// Set the breadcrumbs’ font-size.
// Use only a number. Units (em/px/%) are not required
// Default is $font-size-numeric defined above
$breadcrumb-font-size       : $font-size-numeric*0.75;

// Set the breadcrumbs’ text colour
$breadcrumb-color        : darken($breadcrumb-background-color, 40%);

// Set the default alert’s border radius. Default is $border-radius defined above
$breadcrumb-border-radius     : $border-radius;