// =buttons ============

$button-padding          : 6px 11px;

// Buttons have a default flat background colour
// Add an optional gradient in _bootstrap-form-buttons.scss
// Configure the gradient colours in _texture.scss
$button-background-color                 : $color-neutral-lightest;
$button-background-gradient              : $button-background-color;
$button-background-color-hover           : darken($button-background-color, 10%);
$button-background-gradient-hover        : darken($button-background-gradient, 10%);
$button-background-gradient-direction    : "horizontal";

// Set the default button’s border width. Default is $border-width defined above
$button-border-width        : $border-width;

// Set the default button’s border style
$button-border-style        : $border-style;

// By default border colour is a tint of background colour. Adjust percentage as required
$button-border-color        : darken($button-background-color,10%);

// Sometimes you may want a darker bottom border to suggest three-dimensions
$button-bottom-border-color    : darken($button-border-color, 5%);

// Set the default button’s border radius. Default is $border-radius defined above
$button-border-radius       : $border-radius;

// Set the button’s font-family. Default is $font-family-base defined above
$button-font-family         : $font-family-base;

// Set the button’s font-size.
// Use only a number. Units (em/px/%) are not required
// Default is $font-size-numeric defined above
$button-font-size         : $font-size-numeric;

// Set the default button’s text colour
// Colours for :hover and :active  are derived automatically from $button-color
// Override colours for :hover and :active in _bootstrap-form-buttons.scss
$button-color          : $color-neutral-light;
$button-color-hover    : darken($button-color, 20%);


// Special buttons’ colours are derived from colour palettes above


// Set the primary action button’s border and text colours
$button-border-color-primary                    : darken($color-primary, 10%);
$button-color-primary                           : $white;
$button-color-primary-hover                     : $black;
$button-background-color-primary                : $color-primary;
$button-background-gradient-primary             : lighten($button-background-color-primary, 15%);
$button-background-color-primary-hover          : darken($button-background-color-primary, 10%);
$button-background-gradient-primary-hover       : darken($button-background-gradient-primary, 10%);
$button-background-gradient-direction-primary   : $button-background-gradient-direction;


// Set the error button’s border and text colours
$button-border-color-error                      : darken($color-error, 10%);
$button-color-error                             : $white;
$button-color-error-hover                       : $black;
$button-background-color-error                  : $color-error;
$button-background-gradient-error               : $button-background-color-error;
$button-background-color-error-hover            : darken($button-background-color-error, 10%);
$button-background-gradient-error-hover         : darken($button-background-gradient-error, 10%);
$button-background-gradient-direction-error     : $button-background-gradient-direction;


// Set the info button’s border and text colours
$button-border-color-info                       : darken($color-info, 10%);
$button-color-info                              : darken($color-info, 50%);
$button-color-info-hover                        : $black;
$button-background-color-info                   : $color-info;
$button-background-gradient-info                : $button-background-color-info;
$button-background-color-info-hover             : darken($button-background-color-info, 10%);
$button-background-gradient-info-hover          : darken($button-background-gradient-info, 10%);
$button-background-gradient-direction-info      : $button-background-gradient-direction;


// Set the inverse button’s border and text colours
$button-border-color-inverse                    : darken($color-inverse, 10%);
$button-color-inverse                           : $white;
$button-color-inverse-hover                     : $gray-lighter;
$button-background-color-inverse                : $color-inverse;
$button-background-gradient-inverse             : $button-background-color-inverse;
$button-background-color-inverse-hover          : darken($button-background-color-inverse, 10%);
$button-background-gradient-inverse-hover       : darken($button-background-gradient-inverse, 10%);
$button-background-gradient-direction-inverse   : $button-background-gradient-direction;


// Set the success button’s border and text colours
$button-border-color-success                    : darken($color-success, 10%);
$button-color-success                           : darken($color-success, 50%);
$button-color-success-hover                     : $black;
$button-background-color-success                : $color-success;
$button-background-gradient-success             : $button-background-color-success;
$button-background-color-success-hover          : darken($button-background-color-success, 10%);
$button-background-gradient-success-hover       : darken($button-background-gradient-success, 10%);
$button-background-gradient-direction-success   : $button-background-gradient-direction;


// Set the warning button’s border and text colours
$button-border-color-warning                    : darken($color-warning, 10%);
$button-color-warning                           : $white;
$button-color-warning-hover                     : $black;
$button-background-color-warning                : $color-warning;
$button-background-gradient-warning             : $button-background-color-warning;
$button-background-color-warning-hover          : darken($button-background-color-warning, 10%);
$button-background-gradient-warning-hover       : darken($button-background-gradient-warning, 10%);
$button-background-gradient-direction-warning   : $button-background-gradient-direction;