//== Colour
//
//## Default colours.

// Define your design’s palette by choosing three main colours
$color-primary:                #3f9efc !default;
$color-secondary:              rgb(164,50,21) !default;
$color-tertiary:               rgb(41,47,54) !default;

$body-color:                   #b0d5ea;
$font-color:                   #000000;
$color-content:                #ffffff !default;

// Now set a neutral colour for borders etc.
$color-neutral:                rgb(71,63,63) !default;
$color-neutral-mid:            darken($color-neutral,25%) !default;
$color-neutral-dark:           darken($color-neutral,50%) !default;
$color-neutral-light:          lighten($color-neutral,25%) !default;
$color-neutral-lighter:        lighten($color-neutral,50%) !default;
$color-neutral-lightest:       lighten($color-neutral,70%) !default;

// Now set default gray range
$gray-base:                    #000 !default;
$gray-darker:                  lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                    lighten($gray-base, 20%) !default;   // #333
$gray:                         lighten($gray-base, 33.5%) !default; // #555
$gray-light:                   lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:                 lighten($gray-base, 66.6%) !default;
$gray-lighter-er:              lighten($gray-base, 80%) !default;
$gray-lightest:                lighten($gray-base, 93.5%) !default; // #eee

// Sometimes you may want $black and $white to be ‘almost black’ and ’off-white’
$black:                        rgb(0,0,0) !default;
$white:                        rgb(255,255,255) !default;

// Choose a colour for your hyperlinks. Often this will be the $color-primary
$color-link:                   $color-primary !default;
$color-link-hover:             darken($color-link, 10) !default;
$color-link-visited:           darken($color-link-hover, 10) !default;
$color-link-focus:             darken($color-link-visited, 10) !default;

// Choose a colour for your footer hyperlinks
$color-link-footer:            #413700 !default;
$color-link-footer-hover:      lighten($color-link-footer, 10) !default;
$color-link-footer-visited:    $color-link-footer !default;
$color-link-footer-focus:      lighten($color-link-footer-hover , 10) !default;

// Now define another set of colours. These will be used to style alerts and buttons
$color-alert:                  rgb(252,248,227) !default;
$color-error:                  rgb(218,79,73) !default;
$color-info:                   rgb(217,237,247) !default;
$color-inverse:                rgb(65,65,65) !default;
$color-success:                rgb(91,183,91) !default;
$color-warning:                rgb(250,167,50) !default;
$color-disabled:               $color-neutral-lighter;