//== Forms
//
//##

// Set form’s font-family. Default is $font-family-base defined above
$form-font-family:                   $font-family-base !default;
$legend-color:                       $gray-dark !default;
$legend-border-color:                #e5e5e5 !default;

// =inputs ============
$form-input-font-family:             $font-family-alt !default;
$form-input-placeholder-color:       $gray !default;
$form-input-color:                   $gray-light !default;

$form-input-padding:                 $padding-base-vertical $padding-base-horizontal !default;
$form-input-bg-color:                $white !default;
$form-input-bg-disabled:             $gray-lightest !default;

$form-input-border-width:            $border-width !default;
$form-input-border-style:            $border-style !default;
$form-input-border-color:            $border-color !default;
$form-input-border-color-hover:      darken($form-input-border-color, 10%) !default;
$form-input-border-color-focus:      darken($form-input-border-color, 25%) !default;
$form-input-border-radius:           $border-radius !default;

//** Background color for textual input addons
$input-group-addon-bg:               $gray-lightest !default;
//** Border color for textual input addons
$input-group-addon-border-color:     $form-input-border-color !default;

// =help ============

// Set the colour for help text
$form-help-color          : lighten($font-color, 10%);

// And small text inside forms
$form-small-color         : lighten($font-color, 10%);