// NAVIGATION =============================================================================

// =navigation

// By default site navigation has a flat background colour
// Add an optional gradient in __navigation-toggle.scss
// Configure the gradient colours in _texture.scss
$navigation-background-color    : $color-tertiary;

// Set navigation items’ bottom border width
$navigation-border-width      : $border-width;

// Set navigation items’ bottom border style
$navigation-border-style      : $border-style;

// Set navigation items’ bottom border colour
$navigation-border-color      : darken($navigation-background-color,10%);

// Set navigation items’ link colours
$navigation-link-color      : $white;

// :hover
$navigation-link-color-hover   : darken($navigation-link-color,10%);





// =navbar ============

// Set navbar’s min-height
$navbar-height         : 44px;

// By default Navbars have a flat background colour
// Add an optional gradient in _bootstrap-navbar.scss
// Configure the gradient colours in _texture.scss
$navbar-background-color      : lighten($color-neutral,75%);

// Set navbar’s border width
$navbar-border-width        : $border-width * 2;

// Set navbar’s’ border style
$navbarborder-style        : $border-style;

// By default navbar’s border is a tint of $navbar-background-color. Adjust percentage as required
$navbar-border-color        : darken($navbar-background-color,10%);

// Set navbar’s border radius. Default is $border-radius defined above
$navbar-border-radius       : $border-radius;

// Set navbar’s text colour
$navbar-color          : $font-color;

// Set navbar’s brand colour
$navbar-brand-color       : $color-primary;

// Set navbar’s link colours
$navbar-link-color        : $color-link;

// :hover
$navbar-link-background-color-hover : rgba($navbar-link-color,.25);
$navbar-link-color-hover     : $font-color;

// :hover
$navbar-link-background-color-active: $color-primary;
$navbar-link-color-active      : $white;

// Set navbar’s divider colour
$navbar-divider-left        : $navbar-border-color;
$navbar-divider-right       : lighten($navbar-border-color,10%);