// =pager ============

$pager-padding         : 4px 11px;

// By default pagers have a default flat background colour
// Add an optional gradient in _bootstrap-pager.scss
// Configure the gradient colours in _texture.scss
$pager-background-color       : $body-color;

// :hover
$pager-background-color-hover    : darken($pager-background-color, 10%);

// Set pager’s border width
$pager-border-width         : $border-width;

// And pager’s border style
$pager-border-style         : $border-style;

// By default colour is a tint of background colour. Adjust percentage as required
$pager-border-color         : darken($pager-background-color, 20%);

// Set pager’s border radius. Default is $border-radius defined above
$pager-border-radius        : $border-radius;

// Set pager’s font-family. Default is $font-family-base defined above
$pager-font-family        : $font-family-alt;

// By default colour is a tint of background colour. Adjust percentage as required
$pager-color           : $color-link;