// =pagination ============

$pagination-padding          : 4px 11px;

// Set pagination font-family. Default is $font-family-alt defined above
$pagination-font-family         : $font-family-alt;

// By default pagers have a default flat background colour
// Add an optional gradient in _bootstrap-pagination.scss
// Configure the gradient colours in _texture.scss
$pagination-background-color      : $body-color;
$pagination-link-color     : $font-color;

// Set pagination border width
$pagination-border-width        : $border-width;

// And pagination border style
$pagination-border-style        : $border-style;

// Set pagination border radius. Default is $border-radius defined above
$pagination-border-radius       : $border-radius;

// By default colour is a tint of background colour. Adjust percentage as required
$pagination-border-color        : darken($pagination-background-color, 20%);

// Set background colour for pagination next and previous
$pagination-end-background-color     : lighten($gray-lighter-er, 10%);
$pagination-end-link-color         : $font-color;

// :hover
$pagination-background-color-hover   : $color-neutral-lightest;
$pagination-link-color-hover     : $font-color;

// :active
$pagination-background-color-active  : $color-primary;
$pagination-link-color-active      : $white;

// :disabled
$pagination-background-color-disabled  : $white;
$pagination-link-color-disabled      : $color-disabled;
$pagination-border-color-disabled      : $color-disabled;