//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

// =tables ============

$table-padding           : 8px;

// Set table background colour
$table-bg-color     : transparent;

// Set optional alternate table row background colour
$table-bg-stripe      : $color-neutral-lightest;

// Set table row :hover colour
$table-bg-hover       : darken($table-bg-stripe , 10%);

// Set table border widths. Default is $border-width defined above
$table-border-width      : $border-width;

// Set tables’ border styles
$table-border-style       : $border-style;

// Set tables’ border colour
$table-border-color         : $color-neutral-lighter;

// Set tables’ font-family. Default is $font-family-alt defined above
$table-font-family        : $font-family-alt;