//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Font stacks
$Arial : Arial,Helvetica Neue,Helvetica,sans-serif;
$Cambria : Cambria, Georgia, Times, "Times New Roman";
$Georgia : Georgia, "Times New Roman", Times, serif;
$Helvetica : "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-sans-serif:  $Helvetica !default;
$font-family-serif:       $Georgia !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-alt:         $Cambria;

$font-size-numeric:       14 !default;
$font-size-base:          14px !default; // ~14px
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
$line-height-alt:         1.35em;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    bold !default;
$headings-line-height:    1.1 !default;
$headings-color:          #2b2f32 !default;

// Link styling
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// Background colour for blockquotes, ins, and mark
$base-font-background-color    : $color-neutral-lightest;