// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->
// Adapted from: https://github.com/twitter/bootstrap/blob/master/less/forms.less

.help-block,
.help-inline {
color : $formhelpcolor;
@include font-size($font-size-numeric / 1.25);
line-height : 1.4; }

.help-block {
display : block;
margin-bottom : $baselineheight / 2; }

.help-inline {
display : inline-block;
*display : inline;
*zoom : 1;
vertical-align : middle;
padding-left : $padding-base-horizontal; }

.help-block,
.help-inline {
color : $formhelpcolor; }

.help-block {
display : block;
margin-bottom : $baselineheight / 2; }

.help-inline {
display : inline-block;
*display : inline;
*zoom : 1;
vertical-align : middle;
padding-left : $gutterwidth; }