// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->
// Adapted from: https://github.com/twitter/bootstrap/blob/master/less/hero-unit.less

.hero-unit {
margin-bottom : $baselineheight / 2;
padding : $gutterwidth;
background-color : $herobackgroundcolor;
// @include herograd;
border : $heroborderwidth $heroborderstyle $herobordercolor;
border-radius : $heroborderradius;
color : $herocolor;

@include media-query-bp($bp4) {
padding : $gutterwidth * 2;

h1 {
margin-bottom : $baselineheight / 4;
@include font-size(48);
line-height : 1;
letter-spacing : -1px; }
}

p {
@include font-size($font-size-numeric * 1.25);

&:last-child {
margin-bottom : 0; }
}/*p*/
}/*hero-unit*/