// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->
// Adapted from: https://github.com/twitter/bootstrap/blob/master/less/alerts.less

.alert {
padding : $alertpadding;
margin-bottom : $baselineheight;
background-color : $alertbackgroundcolor;
// @include alertgrad;
border : $alertborderwidth $alertborderstyle $alertbordercolor;
border-radius : $alertborderradius;
@include font-size($alertfontsize);
color : $color-alert;

.btn-close {
  background: $alertbackgroundcolor;
  border-color: darken($alertbackgroundcolor,12%);
  margin-left: 8px;

  span {
    background: url(img/sprite/interface.png) no-repeat 4px -1346px;
  }
}

> h4 {
margin : 0;
color : $color-alert; }

a {
color : $color-alert; }
}/*alert*/

.alert-success {
background-color : $color-success;
border-color : $alertbordercolorsuccess;
color : $color-alertsuccess;

.btn-close {
  background: $color-success;
  border-color: darken($color-success,8%);
  margin-left: 8px;
}

> h4 {
color : $color-alertsuccess; }

a {
color : $color-alertsuccess; }
}/*alert--success*/

.alert-danger,
.alert-error {
background-color : $color-error;
border-color : $alertbordercolorerror;
color : $color-alerterror;

.btn-close {
  background: $color-error;
  border-color: darken($color-error,8%);
  margin-left: 8px;
}

> h4 {
color : $color-alerterror; }

a {
color : $color-alerterror; }
}/*alert--error*/

.alert-info {
background-color : $color-info;
border-color : $alertbordercolorinfo;
color : $color-alertinfo;

.btn-close {
  background: $color-info;
  border-color: darken($color-info,8%);
  margin-left: 8px;
}

>  h4 {
color : $color-alertinfo; }

a {
color : $color-alertinfo; }
}/*alert--info*/

.alert-block {
padding-top : 14px;
padding-bottom : 14px;

> p,
> ul {
margin-bottom : 0; }

> p + p {
margin-top : 5px; }
}/*alert--block*/

.btn-close {
  box-sizing: border-box;
  border: 2px solid $bordercolor;
  box-shadow: 0 2px 2px rgba(0,0,0,0.16);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  height: 20px;
  line-height: 20px;
  margin: 0 0 $baselineheight/2;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  top: -4px;
  width: 20px;

  span {
    background: url(img/sprite/interface.png) no-repeat 3px -546px;
    display: block;
  }
}