// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Buttons =================================================== */

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 6px 11px 6px;
  margin-bottom: 0;
  font: {
    weight: bold;
    family: $basefont;
  }
  @include font-size(12);
  line-height: $baselineheight;
  color: $buttoncolor;
  text-align: center;
  vertical-align: middle;
  background-color: $buttonbackground;
  @include greygrad;
  border: $buttonborderwidth $buttonborderstyle $buttonbordercolor {
    bottom-color: $buttonbottombordercolor;
  }
  @include border-radius(4px, 4px, 4px, 4px);
  cursor: pointer;
  *margin-left: .3em;

  &:visited,
  &:hover {
    color: $buttoncolor;
    text-decoration: none;
  }
}

input[type="submit"].btn:hover { border-color: $buttonbordercolor; }

.btn:first-child { *margin-left: 0; }

// disabled

.btn-disabled {
  @include opacity(.5);
  cursor: default;
}

.btn-error {
  @include errorgrad;
  border: {
    color: darken($color-error, 15%);
    bottom-color: darken($color-error, 20%);
  }
  color: $white;

  &:visited,
  &:hover { color: $white; }
}

// info

.btn-info {
  @include infograd;
  border: {
    color: darken($color-info, 15%);
    bottom-color: darken($color-info, 20%);
  }
  color: darken($color-info, 50%);

  &:visited,
  &:hover { color: darken($color-info, 50%); }
}

// inverse

.btn-inverse {
  @include inversegrad;
  border: {
    color: darken($inverscolor, 15%);
    bottom-color: darken($inverscolor, 20%);
  }
  color: $white;

  &:visited,
  &:hover { color: $white; }
}

// primary

.btn-primary {
  @include basegrad;
  border: {
    color: darken($basecolor, 15%);
    bottom-color: darken($basecolor, 20%);
  }
  color: $white;

  &:visited,
  &:hover { color: $white; }
}

// success

.btn-success {
  @include successgrad;
  border: {
    color: darken($color-success, 15%);
    bottom-color: darken($color-success, 20%);
  }
}

// warning

.btn-warning {
  @include warninggrad;
  border: {
    color: darken($color-warning, 15%);
    bottom-color: darken($color-warning, 20%);
  }
}

// sizes

.btn-extlarge {
  padding: 11px 22px;
  @include font-size(21);
  @include border-radius(4px);
}

.btn.btn-large {
  *padding: {
    top: 7px;
    bottom: 7px;
  }
}

.btn-large {
  padding: 11px 22px;
  @include font-size(14);
  line-height: normal;
  @include border-radius(4px);
}

.btn-small {
  padding: 6px 10px;
  @include font-size(11);
  line-height: 16px;
}

.btn-mini {
  padding: 3px 5px;
  @include font-size(11);
  line-height: 14px;
}

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: $baselineheight;

  .btn {
    position: relative;
    float: left;
    margin-left: -1px;
    @include border-radius(0);

    &:first-child {
      margin-left: 0;
      @include border-radius(2px, 0, 2px, 0);
    }

    &:last-child { @include border-radius(0, 2px, 0, 2px); }

    &.large {
      &:first-child {
        margin-left: 0;
        @include border-radius(4px, 0, 4px, 0);
      }

      &:last-child { @include border-radius(0, 4px, 0, 4px); }
    }
  }
}

.btn-toolbar {
  clear: both;
  margin: {
    top: $baselineheight / 2;
    bottom: $baselineheight / 2;
  }

  .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}