// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

a {
text-decoration : none;
color : $color-link;

&:visited {
color : $color-link-visited; }

&:hover {
text-decoration : underline;
color : $color-link-hover; }

&:focus {
outline : thin dotted;
color : $color-link-focus; }

&:hover,
&:active {
outline : 0; }
}

::-moz-selection {
background-color : lighten($color-primary, 65%);
color : $color-primary;
text-shadow : none; }

::selection {
background-color : lighten($color-primary, 65%);
color : $color-primary;
text-shadow : none; }

// swatches

.swatch {
margin : 0 0 $baselineheight 0;
padding : 0; }

.swatch-row {
display : block;
margin : 0;
padding : 0;
width : 200px;
@include clearfix; }

.swatch-row-one {
background-color : rgb(0,0,0); }

.swatch-row-two {
background-color : rgb(255,255,255); }

.swatch-row span {
display : block;
float : left;
width : 50px;
height : 50px; }

// base (primary)

.swatch-base span:nth-child(1) {
background-color : rgba($color-primary,.9); }

.swatch-base span:nth-child(2) {
background-color : rgba($color-primary,.8); }

.swatch-base span:nth-child(3) {
background-color : rgba($color-primary,.7); }

.swatch-base span:nth-child(4) {
background-color : rgba($color-primary,.6); }

// secondary

.swatch-secondary span:nth-child(1) {
background-color : rgba($color-secondary,.9); }

.swatch-secondary span:nth-child(2) {
background-color : rgba($color-secondary,.8); }

.swatch-secondary span:nth-child(3) {
background-color : rgba($color-secondary,.7); }

.swatch-secondary span:nth-child(4) {
background-color : rgba($color-secondary,.6); }

// tertiary

.swatch-tertiary span:nth-child(1) {
background-color : rgba($color-tertiary,.9); }

.swatch-tertiary span:nth-child(2) {
background-color : rgba($color-tertiary,.8); }

.swatch-tertiary span:nth-child(3) {
background-color : rgba($color-tertiary,.7); }

.swatch-tertiary span:nth-child(4) {
background-color : rgba($color-tertiary,.6); }

// neutral

.swatch-neutral span:nth-child(1) {
background-color : rgba($color-neutral,.9); }

.swatch-neutral span:nth-child(2) {
background-color : rgba($color-neutral,.8); }

.swatch-neutral span:nth-child(3) {
background-color : rgba($color-neutral,.7); }

.swatch-neutral span:nth-child(4) {
background-color : rgba($color-neutral,.6); }

// error

.swatch-error span:nth-child(1) {
background-color : rgba($color-error,.9); }

.swatch-error span:nth-child(2) {
background-color : rgba($color-error,.8); }

.swatch-error span:nth-child(3) {
background-color : rgba($color-error,.7); }

.swatch-error span:nth-child(4) {
background-color : rgba($color-error,.6); }

// info

.swatch-info span:nth-child(1) {
background-color : rgba($color-info,.9); }

.swatch-info span:nth-child(2) {
background-color : rgba($color-info,.8); }

.swatch-info span:nth-child(3) {
background-color : rgba($color-info,.7); }

.swatch-info span:nth-child(4) {
background-color : rgba($color-info,.6); }

// success

.swatch-success span:nth-child(1) {
background-color : rgba($color-success,.9); }

.swatch-success span:nth-child(2) {
background-color : rgba($color-success,.8); }

.swatch-success span:nth-child(3) {
background-color : rgba($color-success,.7); }

.swatch-success span:nth-child(4) {
background-color : rgba($color-success,.6); }