// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

// hr

hr {
clear : both;
display : block;
margin : $baselineheight * 2 0;
padding : 0;
height : 1px;
border : 0;
border-top : 1px solid $bordercolor; }

// img

img {
max-width : 100%;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

.img-rounded {
border-radius :$borderradius; }

.img-polaroid {
padding : $padding-base-horizontal;
background-color : $white;
border : 1px solid $bordercolor;
box-shadow : 0 1px 3px rgba(0,0,0,.1); }

.img-circle {
border-radius : 500px; }

// figure

figure {
margin-bottom : $baselineheight;

img {
margin-bottom : $baselineheight / 4; }

figcaption {
display : block;
font-weight : normal;
@include font-size(14);
font-style : italic;
color : $color-neutral-mid; }
}