
/* Flexslider =================================================== */

.flexslider a:active,
.flexslider a:focus,
.carousel a:active,
.carousel a:focus {
	outline: none;
}

.flex-viewport {
	@include transition(all .8s ease);
}

.no-js .slides li:first-child {
	display: block;
}

.flexslider {
	background: none;
	height: auto;
	margin: 0 0 $baselineheight;
	padding: 0;
	position: relative;
	width: 100%;

	&.loading {
		background: url(img/interface/ajax-loader-on-white.gif) no-repeat center center;
		min-height: 40px;
	}

	.slides {
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		z-index: 1;
		zoom: 1;

		> li {
			background: none;
			display: none;
			-webkit-backface-visibility: hidden;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
		}

		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}

// Carousel

.carousel {
	clear: both;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	&.loading {
		background: url(img/interface/ajax-loader-on-white.gif) no-repeat center center;

		.flex-viewport {
			min-height: 40px;
		}
	}

	.slides {
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		z-index: 4;
		zoom: 1;

		> li {
			display: none;
			//height: auto;
			width: auto;
		}
	}
}

/* Nav */

// Control Nav

.flex-control-nav {
	bottom: -16px;
	right: 0;
	line-height: 0;
	list-style: none;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	li {
		background: none;
		display: inline-block;
		margin: 0 2px;
		padding: 0;
	}

	a {
		background: darken(#ffffff,12%);
		cursor: pointer;
		display: inline-block;
		height: 10px;
		overflow: hidden;
		//@include border-radius();
		text-indent: -9999px;
		width: 10px;

		&:hover {
			background: darken(#ffffff,24%);
		}

		&.flex-active,
		&.flex-active:hover {
			background: $color-primary;
			cursor: default;
		}
	}
}

// Direction Nav

.flex-direction-nav {
	@include font-size(0);
	*height: 0;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		background: none;
		padding-left: 0;
	}
}

.flex-prev,
.flex-next {
	background: #ffffff url(img/sprite/interface.png) no-repeat 10px -483px;
	@include box-shadow(-4px 0 1px rgba(0,0,0,.12));
	cursor:pointer;
	height: 44px;
	left: -28px;
	margin-top: -20px;
	outline: none;
	position:absolute;
	text-indent: -9000px;
	@include transition(none);
	@include border-radius(100%,100%,100%,100%);
	top: 50%;
	width: 44px;
	z-index: 100;
}

.flex-next {
	background-position: -26px -483px;
	@include box-shadow(4px 0 1px rgba(0,0,0,.12));
	left: auto;
	right: -28px;
}

.flex-disabled {
	cursor: default;
	//.opacity;
}



// Carousel / Car showcase pagination

.carousel {

	.flex-control-nav {
		display: none;
	}
}

