/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

$maxwidth : 978px !default;
$gutterwidth : 24px !default;
$bp6 : 86em !default;

/* Preserve some sanity */
.grid, .unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
  /* Clearfix after every .grid */
  *zoom: 1;
  .unit {
    float: left;
    width: 100%;
    padding: $padding-base-horizontal;
    /* This clears the outer gutters. */
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    /* Nested grids already have padding though, so let’s nuke it */
    .unit:first-child { padding-left: 0; }
    .unit:last-child { padding-right: 0; }
    .grid:first-child > .unit { padding-top: 0; }
    .grid:last-child > .unit { padding-bottom: 0; }
    /* A property for a better rendering of images in units: in
   this way bigger pictures are just resized if the unit
   becomes smaller */
    img {
      max-width: 100%;
    }
  }
  /* Width classes also have shorthand versions numbered as fractions
  * For example: for a grid unit 1/3 (one third) of the parent width,
  * simply apply class="w-1-3" to the element. */
  .whole,          .w-1-1 { width: 100%; }
  .half,           .w-1-2 { width: 50%; }
  .one-third,      .w-1-3 { width: 33.3332%; }
  .two-thirds,     .w-2-3 { width: 66.6665%; }
  .one-quarter,    .w-1-4 { width: 25%; }
  .three-quarters, .w-3-4 { width: 75%; }
  .one-fifth,      .w-1-5 { width: 20%; }
  .two-fifths,     .w-2-5 { width: 40%; }
  .three-fifths,   .w-3-5 { width: 60%; }
  .four-fifths,    .w-4-5 { width: 80%; }
  .golden-small,   .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
  .golden-large,   .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

  :before, :after {
    display: table;
    content: "";
    line-height: 0;
  }
  :after {
    clear: both;
  }
}

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit, .unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid, .grid.wrap {
  max-width: $maxwidth;
  margin: 0 auto;
}

/* Responsive Stuff */
@media screen and (max-width: $bp2) {
  /* Stack anything that isn’t full-width on smaller screens
     and doesn't provide the no-stacking-on-mobiles class */
  .grid:not(.no-stacking-on-mobiles) > .unit {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: $bp6) {
  .wider .grid, .grid.wider {
    max-width: $bp6+1;
    margin: 0 auto;
  }
}