// =DATEPICKER        ==============================================================

.ui-datepicker {
  background: $white;
  @include box-shadow(0 0 8px rgba(0,0,0,.2));
  z-index: 9000 !important;       // Datepicker within fancybox displayed behind it as z-index of 5 is set. Having to force z-index so it is displayed.

  table {
    @include font-size(12);
    margin: 0 0 1px;
  }

  th,
  td {
    background: none;
    color: $color-primary;
    padding: 4px 8px;
    text-align: center;
  }

  td {

    a {
      background: transparent;
      color: $font-color;
      display: block;
      height: 24px;
      line-height: 24px;
      @extend .rounded !optional;
      @include transition(all .2s);
      width: 24px;

      &:hover {
        background: $white;
        color: $color-neutral-dark;
      }
    }
  }

  tr:nth-child(even) td a:hover {background: $color-neutral-light;}

  .ui-state-highlight,
  .ui-state-highlight:hover,
  tr:nth-child(even) .ui-state-highlight:hover {
    background: $color-neutral-dark;
    color: $white;
  }

  .ui-state-active,
  .ui-state-active:hover,
  tr:nth-child(even) .ui-state-active:hover {
    //.grad-blue;
    color: $white;
  }
}

.ui-datepicker-header {
  background-color : rgba($color-primary,.9);
  color: $white;
  padding: 8px 0;
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  //.grad-lightergrey;
  background: $white;
  border: 2px solid $bordercolor;
  //.box-shadow(0 2px 2px rgba(0,0,0,.16));
  @extend .box-sizing !optional;
  color: $font-color;
  cursor: pointer;
  @include font-size(13);
  line-height: 24px;
  height: 24px;
  position: absolute;
  @extend .rounded !optional;
  top: 8px;
  width: 24px;

  span {
    background: url(img/sprite/interface.png) no-repeat 5px -495px;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
  }
}

.ui-datepicker-prev {
  left: 8px;
}

.ui-datepicker-next {
  right: 8px;

  span {
    background-position: -44px -495px;
  }
}