// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

[role="banner"] {
@include clearfix; }

body {
  background: $body-color;
}

.central-content {
  width: 100%;
  max-width: $maxwidth;
  margin: 0 auto;
}

header {
  background: #0880cc;
  color: #ffffff;
}

footer {
  background: #eee6cf;
  color: #6d6340;
}


#container {
  background: $white;
  @include box-sizing(border-box);
  padding: 0 $gutterwidth;
  position: relative;
  @include  transition(padding, .2s);
  width: 100%;
  max-width: $maxwidth;
  @extend .central-content;
}