// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->
// Adapted from: http://codepen.io/bradfrost/pen/IEBrz

.wrap {
position : relative;
@include transition (all $transitionduration ease); }

.wrap.active {
left : 16em;

@include media-query-bp($bp4) {
left : 0; }
}

.navigation-left-nav-flyout-toggle {
float : left;
display : block;
padding : 1em;

@include media-query-bp($bp4) {
display : none; }
}

nav[role=navigation] {
background-color : $color-neutral;
clear : both;
overflow : hidden; }

.js nav[role=navigation] {
position : absolute;
top : 0;
left : -16em;
width : 16em;
height : 100%;

@include media-query-bp($bp4) {
position : static;
width : auto;
max-width : none; }
}

#navigation-left-nav-flyout ul {
list-style-type : none;
@include zero; }

#navigation-left-nav-flyout li {
@include media-query-bp($bp4) {
display : inline-block;
margin : 0 .25em; }
}

#navigation-left-nav-flyout a {
display : block;
min-height : 44px;
line-height : 44px;
color : $white;
border-bottom : $borderwidth $borderstyle $color-neutral-mid;

@include media-query-bp($bp4) {
border-width : 0; }
}

.content {
clear : both; }