@-webkit-viewport {
width : device-width; }

@-moz-viewport {
width : device-width; }

@-ms-viewport {
width : device-width; }

@-o-viewport {
width : device-width; }

// This can cause issues with Chrome Dev Tools on both stable and Canary (tested on v29 and v31).
// For more, see https://code.google.com/p/chromium/issues/detail?id=232102
// Therefore, you may wish to comment out this declaration for now.
@viewport {
width : device-width; }

html {
background : $bodycolor;
font-size : 62.5%;
-webkit-overflow-scrolling : touch;
-webkit-tap-highlight-color : $color-neutral-lightest;
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

body {
@include zero;
width : 100%;
background-color : transparent;
font-family : $font-family-base;
@include font-size($font-size-numeric);
line-height : $baselineheight;
color : $textcolor; }

body:after {
content : '320';
display : none;

@include media-query-bp($bp2) {
content : 'bp2'; }

@include media-query-bp($bp3) {
content : 'bp3'; }

@include media-query-bp($bp4) {
content : 'bp4'; }

@include media-query-bp($bp5) {
content : 'bp5'; }

@include media-query-bp($bp6) {
content : 'bp6'; }
}

.hide {
@include hidden; }