

$basefontlight: "opensans-light", Helvetica, Arial, sans-serif;
$basefontlightitalic: "opensans-lightitalic", Helvetica, Arial, sans-serif;
$basefont: "opensans-regular", Helvetica, Arial, sans-serif;
$basefontitalic: "opensans-italic", Helvetica, Arial, sans-serif;
$basefontsemibold: "opensans-semibold", Helvetica, Arial, sans-serif;
$basefontsemibolditalic: "opensans-semibolditalic", Helvetica, Arial, sans-serif;
$basefontbold: "opensans-bold", Helvetica, Arial, sans-serif;
$basefontbolditalic: "opensans-bolditalic", Helvetica, Arial, sans-serif;
$basefontextrabold: "opensans-extrabold", Helvetica, Arial, sans-serif;
$basefontextrabolditalic: "opensans-extrabolditalic", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
margin : 0;
font-family : $headings-font-family;
font-weight : $headings-font-weight;
color : $headings-color;
text-rendering : optimizelegibility;

small {
font-weight : normal;
line-height : 1;
color : $color-neutral-light; }
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1,
.h1 {
@include font-size($font-size-numeric * 2);
line-height: 1.2;
margin-bottom: $baselineheight / 2; }

h2,
.h2 {
@include font-size($font-size-numeric * 1.5);
line-height: 1.2;
margin-bottom: $baselineheight / 2; }

h3,
.h3 {
@include font-size($font-size-numeric * 1.17);
line-height: 1.3;
margin-bottom: $baselineheight / 1.5; }

h4,
.h4 {
@include font-size($font-size-numeric);
line-height: 1.25;
margin-bottom: $baselineheight; }

h5,
.h5 {
@include font-size($font-size-numeric * 0.83);
margin-bottom: $baselineheight;}

h6,
.h6 {
@include font-size($font-size-numeric * 0.75);
margin-bottom: $baselineheight;
font-weight : normal;
letter-spacing : 1px;
text-transform : uppercase; }

p,
ol,
ul,
dl,
address {
margin-bottom : $baselineheight;
@include font-size($font-size-numeric);
line-height : $baselineheight; }

small {
@include font-size($font-size-numeric / 1.25); }

ul,
ol {
margin : 0 0 $baselineheight 0;
padding : 0;
list-style-type : none;}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li ol {
  list-style-type: lower-latin;
  margin : 0;
  padding-left : $font-size-numeric+px;
}

li ul {
list-style-type : none;
margin : 0;
@include font-size(16); }

ul.inline,
ol.inline {
list-style-type : none;
margin-left : 0;
& > li {
display : inline-block;
padding-left : $padding-base-horizontal;
padding-right : $padding-base-horizontal; }
}

ul li {
  background: url(img/content/bullet-disc-default.png) 0 10px no-repeat;
  padding-left: 12px;
}

.alert ul li {
    background: url(img/content/bullet-disc-alt.png) 0 10px no-repeat;
}

footer ul li, ul.no-bg-list li {
  @extend .li-no-bg;
}

ul.list-bordered li {
  background: none;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: .45em;
  padding-bottom: .45em;
}

// blockquote

blockquote  {
font-family: $basefontlightitalic;
background: url(img/content/blockquote-open.png) no-repeat 0 2.25em;
color: #c6c6c6;
margin: 0 12% 3.6em;
padding: 3.6em 0 0 1.8em;
position: relative;

p {
font-size: 24px;
font-size: 2.4rem;
line-height: 28px;
margin-bottom: .9em;
}

footer p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
}

small {
&:before {
content : '\00A0 \2014'; }

&:after {
content : ''; }
}

&.pull-right {
float : right;
background-color : transparent;

p, small {
text-align : right; }

small {
&:before {
content : ''; }

&:after {
content : '\00A0 \2014'; }
}
}

cite {
font-style : normal; }
}

q {
quotes : none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
content : '';
content : none; }

dl,
dd {
margin-bottom : $baselineheight;  }

dt {
font-weight : bold;
color: #2b2f32 }

.dl-horizontal {
@include clearfix;

dt {
float : left;
clear : left;
width : 30.38869258%; }

dd {
margin-left : 32.99289258%; }
}



abbr[title] {
border-bottom : 1px dotted $bordercolor;
cursor : help; }

b, strong {
font-weight : bold; }

dfn {
font-style : italic; }

ins {
background-color : $basefontbackgroundcolor;
color : $textcolor;
text-decoration : none; }

mark {
background-color : $basefontbackgroundcolor;
color : $textcolor;
font-style : italic;
font-weight : bold; }

pre,
code,
kbd,
samp {
font-family : $font-family-monospace;
@include font-size($font-size-numeric / 1.25);
line-height : $baselineheight;
color : lighten($textcolor,.50%); }

code {color: #c82464;}

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }

sub,
sup {
position : relative;
@include font-size($font-size-numeric / 1.25);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }

.lead {
@include font-size($font-size-numeric * 1.15); }

.secondary {
@include font-size($font-size-numeric / 1.15); }

.tertiary {
@include font-size($font-size-numeric / 1.25); }

.amp {
font-family : $ampfontfamily; }

.footnotes {

li {
margin-bottom : $baselineheight / 2;
font-family : $font-family-alt;
@include font-size($font-size-numeric / 1.3);
line-height : 1.4; }

}/*footnotes*/

.spaced {
letter-spacing : 1px; }

.text-right {
    text-align: right;
}