/* line 1, ../sass/partials/_print.scss */
* {
  background: transparent !important;
  color: black !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

@page {
  margin: 0.5cm;
}
/* line 10, ../sass/partials/_print.scss */
h2, h3 {
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

/* line 15, ../sass/partials/_print.scss */
p {
  orphans: 3;
  widows: 3;
}

/* line 19, ../sass/partials/_print.scss */
pre, blockquote {
  border: 1px solid #666;
  page-break-inside: avoid;
}

/* line 23, ../sass/partials/_print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 26, ../sass/partials/_print.scss */
a, a:visited {
  text-decoration: underline;
}

/* line 29, ../sass/partials/_print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 32, ../sass/partials/_print.scss */
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

/* line 36, ../sass/partials/_print.scss */
img {
  max-width: 100% !important;
  page-break-inside: avoid;
}

/* line 40, ../sass/partials/_print.scss */
thead {
  display: table-header-group;
}

/* line 43, ../sass/partials/_print.scss */
tr {
  page-break-inside: avoid;
}
