a {
text-decoration : $link-decoration;
color : $color-link;

&:visited {
color : $color-link-visited; }

&:hover {
text-decoration : $link-hover-decoration;
color : $color-link-hover; }

&:focus {
outline : thin dotted;
color : $color-link-focus; }

&:hover,
&:active {
outline : 0; }
}

::-moz-selection {
background-color : lighten($color-primary, 65%);
color : $color-primary;
text-shadow : none; }

::selection {
background-color : lighten($color-primary, 65%);
color : $color-primary;
text-shadow : none; }


$color-primary:                #3f9efc !default;
$color-secondary:              rgb(164,50,21) !default;
$color-tertiary:               rgb(41,47,54) !default;
$color-error:                  rgb(218,79,73) !default;
$color-info:                   rgb(217,237,247) !default;
$color-inverse:                rgb(65,65,65) !default;
$color-success:                rgb(91,183,91) !default;
$color-warning:                rgb(250,167,50) !default;


.primary {color: $color-primary}
.secondary {color: $color-secondary}
.tertiary {color: $color-tertiary}

.error {color: $color-error;}
.info {color: $color-info}
.inverse {color: $color-inverse}
.success {color: $color-success}
.warning {color: $color-warning}

.primary-bg {background-color: $color-primary}
.secondary-bg {background-color: $color-secondary}
.tertiary-bg {background-color: $color-tertiary}

.error-bg {background-color: $color-error;}
.info-bg {background-color: $color-info}
.inverse-bg {background-color: $color-inverse}
.success-bg {background-color: $color-success}
.warning-bg {background-color: $color-warning}