$dropcap-size: floor($font-size-base * (45/14));

[class*="dropcap"] {
  float: left;
  width: $dropcap-size;
  height: $dropcap-size;
  box-sizing: border-box;
}

[class*="dropcap-"] {
  background: $color-primary;
  font-size: $font-size-base * 2;
  color: $white;
  text-align: center;
  margin: ceil($font-size-base/5) $font-size-base 0 0;
}

.dropcap {
  font-size: floor($font-size-base * 3.5);
  font-weight: bold;
  color: $color-primary;
  padding: $font-size-base 0 0 0;
}

.dropcap-2 {
  @include border-radius($border-radius-small);
  margin: ceil($font-size-base/5) $font-size-base 0 0;
  padding: ceil($dropcap-size - ($font-size-base * 2))/2 0 floor($font-size-base/7);
}

.dropcap-3 {
  @include border-radius(($dropcap-size*2)+2);
  margin: ceil($font-size-base/5) $font-size-base 0 0;
  padding: ceil($dropcap-size - ($font-size-base * 2))/2 ceil($font-size-base*(6/14));
}