$basefontlight: "opensans-light", Helvetica, Arial, sans-serif;
$basefontlightitalic: "opensans-lightitalic", Helvetica, Arial, sans-serif;
$basefont: "opensans-regular", Helvetica, Arial, sans-serif;
$basefontitalic: "opensans-italic", Helvetica, Arial, sans-serif;
$basefontsemibold: "opensans-semibold", Helvetica, Arial, sans-serif;
$basefontsemibolditalic: "opensans-semibolditalic", Helvetica, Arial, sans-serif;
$basefontbold: "opensans-bold", Helvetica, Arial, sans-serif;
$basefontbolditalic: "opensans-bolditalic", Helvetica, Arial, sans-serif;
$basefontextrabold: "opensans-extrabold", Helvetica, Arial, sans-serif;
$basefontextrabolditalic: "opensans-extrabolditalic", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
margin : 0;
font-family : $headings-font-family;
font-weight : $headings-font-weight;
color : $headings-color;
text-rendering : optimizelegibility;

small {
font-weight : normal;
line-height : 1;
color : $color-neutral-light; }
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1,
.h1 {
@include font-size($font-size-numeric * 2);
line-height: 1.2;
margin-bottom: $base-lineheight / 2; }

h2,
.h2 {
@include font-size($font-size-numeric * 1.5);
line-height: 1.2;
margin-bottom: $base-lineheight / 2; }

h3,
.h3 {
@include font-size($font-size-numeric * 1.17);
line-height: 1.3;
margin-bottom: $base-lineheight / 1.5; }

h4,
.h4 {
@include font-size($font-size-numeric);
line-height: 1.25;
margin-bottom: $base-lineheight; }

h5,
.h5 {
@include font-size($font-size-numeric * 0.83);
margin-bottom: $base-lineheight;}

h6,
.h6 {
@include font-size($font-size-numeric * 0.75);
margin-bottom: $base-lineheight;
font-weight : normal;
letter-spacing : 1px;
text-transform : uppercase; }

p,
ol,
ul,
dl,
address {
margin-bottom : $base-lineheight;
@include font-size($font-size-numeric);
line-height : $base-lineheight; }

small {
@include font-size($font-size-numeric / 1.25); }

ul,
ol {
margin : 0 0 $base-lineheight 0;
padding : 0;
list-style-type : none;}

ol {
  list-style-type: decimal;
  padding-left : $padding-base-horizontal;
  margin-left : $padding-base-horizontal;
}

li ol {
  list-style-type: none;
  margin : 0;
  li {
    padding-left : 0;
    margin-left : $padding-base-horizontal;
    list-style-type: lower-alpha;
  }
}

li ul {
  margin : 0 0 0 $padding-base-horizontal;
}


ul.inline,
ol.inline {
list-style-type : none;
margin-left : 0;
& > li {
display : inline-block;
padding-left : $padding-base-horizontal;
padding-right : $padding-base-horizontal; }
}

ul {
  list-style-type: disc;
  li {
    list-style-position: inside;
  }
  &.square {
    list-style-type: square;
  }
  &.no-bullet {
    list-style-type: none;
  }
  &.circle {
    list-style-type: circle;
  }
  &.disc {
    list-style-type: disc;
  }
  &[class*="icon-"] {
    list-style-type: none;
    li {
      &:before {
        font-family: FontAwesome; /* FontAwesome or whatever */
        display: inline-block;
        width: floor($font-size-base*(16/14));
        font-size: floor($font-size-base*(12/14));
      }
    }
  }
  &.icon-tick {
    li {
      &:before {
        content: "\f00c";
      }
    }
  }
  &.icon-ban {
    li {
      &:before {
        content: "\f05e";
        color: $color-error;
      }
    }
  }
  &.icon-speech {
    li {
      &:before {
        content: "\f0e5";
      }
    }
  }
  &.icon-wrench {
    li {
      &:before {
        content: "\f0ad";
      }
    }
  }
}



ul.no-bg-list li, ul.fa-ul li, .dropdown-menu li {
  list-style-type: none;
}

ul.list-bordered li {
  background: none;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: .45em;
  padding-bottom: .45em;
}

// blockquote

blockquote  {
font-family: $basefontlightitalic;
background: url(img/content/blockquote-open.png) no-repeat 0 2.25em;
margin: 0 12% 3.6em;
padding: 3.6em 0 0 1.8em;
position: relative;

p {
font-size: 24px;
font-size: 2.4rem;
line-height: 28px;
margin-bottom: .9em;
}

footer p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
}

small {
&:before {
content : '\00A0 \2014'; }

&:after {
content : ''; }
}

&.pull-right {
float : right;
background-color : transparent;

p, small {
text-align : right; }

small {
&:before {
content : ''; }

&:after {
content : '\00A0 \2014'; }
}
}

cite {
font-style : normal; }
}

q {
quotes : none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
content : '';
content : none; }

dl,
dd {
margin-bottom : $base-lineheight;  }

dt {
font-weight : bold;
color: #2b2f32 }

.dl-horizontal {
@include clearfix;

dt {
float : left;
clear : left;
width : 30.38869258%; }

dd {
margin-left : 32.99289258%; }
}



abbr[title] {
border-bottom : 1px dotted $border-color;
cursor : help; }

b, strong {
font-weight : bold; }

dfn {
font-style : italic; }

ins {
background-color : $base-font-background-color;
color : $font-color;
text-decoration : none; }

mark {
background-color : $base-font-background-color;
color : $font-color;
font-style : italic;
font-weight : bold; }

pre,
code,
kbd,
samp {
font-family : $font-family-monospace;
@include font-size($font-size-numeric / 1.25);
line-height : $base-lineheight;
color : lighten($font-color,.50%); }

code {color: #c82464; display: inline-block;}

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word;
background-color: $color-neutral-lightest;
border: $border-width $border-style $color-neutral-light;
border-radius: $border-radius;
padding: $gutter-horizontal/4 $padding-base-horizontal;
}

.highlight pre {
  margin-bottom: $padding-base-horizontal;
}

sub,
sup {
position : relative;
@include font-size($font-size-numeric / 1.25);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }

.lead {
@include font-size($font-size-numeric * 1.15); }


.footnotes {

li {
margin-bottom : $base-lineheight / 2;
font-family : $font-family-alt;
@include font-size($font-size-numeric / 1.3);
line-height : 1.4; }

}/*footnotes*/

.spaced {
letter-spacing : 1px; }

.text-right {
    text-align: right;
}

.highlight {
  padding: floor($font-size-base*(2/14)) floor($font-size-base*(6/14)) floor($font-size-base*(3/14)) floor($font-size-base*(6/14));
  background: $color-primary;
  color: $white;
  @include border-radius(2px);
}