%btn-main {
  display : inline-block;
  *display : inline;
  *zoom : 1;
  padding : 0;
  margin-bottom : 0;
  margin-left : .3em;
  *margin-left : .3em;
  font : {
    weight : normal;
    family : $button-font-family;
  }
  @include font-size($button-font-size);
  line-height : $base-lineheight;
  color : $button-color;
  text-align : center;
  vertical-align : middle;
  border: none;
  cursor : pointer;
  touch-action: manipulation;
  &.btn-shadow {
    background: none;
  }

  .btn:first-child {
    *margin-left : 0;
  }

  .btn-disabled {
    opacity : .5;
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

%btn-container {
  padding : $button-padding;
  @include button-background($button-background-color, $button-background-gradient, $button-background-gradient-direction);
  border : $button-border-width $button-border-style $button-border-color;
  border-bottom-color : $button-bottom-border-color;
  border-radius : $button-border-radius;
  @include text-shadow();
  &:visited,
  &:active {
    @include button-background($button-background-color, $button-background-gradient, $button-background-gradient-direction);
    color : $button-color;
    text-decoration : none;
  }

  &:hover {
    text-decoration : none;
    color : $button-color-hover;
    @include button-background($button-background-color-hover, $button-background-gradient-hover, $button-background-gradient-direction);
  }

  &:active {
    outline: 0;
  }

}

$button_types: (
  "error" (
      ($button-background-color-error),
      ($button-background-gradient-error),
      ($button-background-gradient-direction-error),
      ($button-border-color-error),
      ($button-color-error),
      ($button-background-color-error-hover),
      ($button-background-gradient-error-hover),
      ($button-color-error-hover)
    ),
  "info" (
      ($button-background-color-info),
      ($button-background-gradient-info),
      ($button-background-gradient-direction-info),
      ($button-border-color-info),
      ($button-color-info),
      ($button-background-color-info-hover),
      ($button-background-gradient-info-hover),
      ($button-color-info-hover)
    ),
  "inverse" (
      ($button-background-color-inverse),
      ($button-background-gradient-inverse),
      ($button-background-gradient-direction-inverse),
      ($button-border-color-inverse),
      ($button-color-inverse),
      ($button-background-color-inverse-hover),
      ($button-background-gradient-inverse-hover),
      ($button-color-inverse-hover)
    ),
  "primary" (
      ($button-background-color-primary),
      ($button-background-gradient-primary),
      ($button-background-gradient-direction-primary),
      ($button-border-color-primary),
      ($button-color-primary),
      ($button-background-color-primary-hover),
      ($button-background-gradient-primary-hover),
      ($button-color-primary-hover)
    ),
  "success" (
      ($button-background-color-success),
      ($button-background-gradient-success),
      ($button-background-gradient-direction-success),
      ($button-border-color-success),
      ($button-color-success),
      ($button-background-color-success-hover),
      ($button-background-gradient-success-hover),
      ($button-color-success-hover)
    ),
  "warning" (
      ($button-background-color-warning),
      ($button-background-gradient-warning),
      ($button-background-gradient-direction-warning),
      ($button-border-color-warning),
      ($button-color-warning),
      ($button-background-color-warning-hover),
      ($button-background-gradient-warning-hover),
      ($button-color-warning-hover)
    )
  );



a.btn{
  color : $button-color;
  &:hover {
    text-decoration: none;
  }
}




.btn{
  @extend %btn-main;
  &:not(.btn-shadow){
    @extend %btn-container;
    &.btn-extlarge {
      padding : 11px 22px;
      @include font-size($button-font-size * 2);
      border-width : $button-border-width * 2;
      border-radius : $border-radius-base * 2;
    }/*btn.btn-extlarge*/

    .btn.btn-large {
      padding : {
        top : 7px;
        bottom : 7px;
      }
    }/*btn.btn-large*/

    &.btn-large {
      padding : 11px 18px;
      @include font-size($button-font-size * 1.25);
      line-height : inherit;
      border-width : $button-border-width * 2;
      border-radius : $border-radius-base * 2;
    }

    &.btn-small {
      padding : 5px 10px;
      @include font-size($button-font-size / 1.5);
      line-height : inherit;
    }

    &.btn-mini {
      padding : 3px 5px;
      @include font-size($button-font-size / 1.75);
      line-height : inherit;
    }
  }

  &.btn-shadow {
    &:not(.no-shadow) {
      @extend .page-curl;
    }
    > div {
      @extend %btn-container;
    }

    &.btn-extlarge {
      > div {
        padding : 11px 22px;
      }
      @include font-size($button-font-size * 2);
      border-width : $button-border-width * 2;
      border-radius : $border-radius-base * 2;
    }/*btn.btn-extlarge*/

    .btn.btn-large {
      > div {
        padding : {
          top : 7px;
          bottom : 7px;
        }
      }
    }/*btn.btn-large*/

    &.btn-large {
      > div {
        padding : 11px 18px;
      }
      @include font-size($button-font-size * 1.25);
      line-height : inherit;
      border-width : $button-border-width * 2;
      border-radius : $border-radius-base * 2;
    }

    &.btn-small {
      > div {
        padding : 5px 10px;
      }
      @include font-size($button-font-size / 1.5);
      line-height : inherit;
    }

    &.btn-mini {
      > div {
        padding : 3px 5px;
      }
      @include font-size($button-font-size / 1.75);
      line-height : inherit;
    }

  }
}

@each $btn-data in $button_types {
  $btn-data-name : nth($btn-data, 1);
  $btn-data-color : nth($btn-data, 2);
  .btn-#{$btn-data-name} {
    @include button-style-base(
      nth($btn-data-color, 1),
      nth($btn-data-color, 2),
      nth($btn-data-color, 3),
      nth($btn-data-color, 4),
      nth($btn-data-color, 5),
      nth($btn-data-color, 6),
      nth($btn-data-color, 7),
      nth($btn-data-color, 8),
      $input:false);
  }
}







.btn-group {
  position : relative;
  display: inline-block;
  *zoom : 1;
  *margin-left : .3em;
  margin-bottom : $base-lineheight;

  .btn {
    position : relative;
    float : left;
    margin-left : -1px;
    border-radius : 0;
  }

  .btn:first-child {
    margin-left : 0;
    border-radius : 2px, 0, 2px, 0;
  }

  .btn:last-child {
    border-radius : 0, 2px, 0, 2px;
  }

  .btn.large:first-child {
    margin-left : 0;
    border-radius : 4px, 0, 4px, 0;
  }

  .btn.large:last-child {
    border-radius : 0, 4px, 0, 4px;
  }
}/*btn.btn-group*/

.btn-toolbar {
  clear : both;
  margin-top : $base-lineheight / 2;
  margin-bottom : $base-lineheight / 2;

  .btn-group {
    display : inline-block;
    *display : inline;
    *zoom : 1;
  }
}/*btn.btn-toolbar*/


input[type="submit"] {
  padding : $button-padding;
  border-width : $button-border-width;
  border-style : $border-style;
  @extend %btn-container;
  @each $btn-data in $button_types {
    $btn-data-name : nth($btn-data, 1);
    $btn-data-color : nth($btn-data, 2);
    &.btn-#{$btn-data-name} {
      @include button-style-base(
        nth($btn-data-color, 1),
        nth($btn-data-color, 2),
        nth($btn-data-color, 3),
        nth($btn-data-color, 4),
        nth($btn-data-color, 5),
        nth($btn-data-color, 6),
        nth($btn-data-color, 7),
        nth($btn-data-color, 8),
        $input:true);
    }
  }
}