//
// Close icons
// --------------------------------------------------


.close {
  float: right;
  font-size: floor($font-size-base * 1.5);
  font-weight: $closefontweight;
  line-height: 1;
  color: $closecolor;
  @include opacity(.6);
  @include transition();

  &:hover,
  &:focus {
    color: $closecolor;
    text-decoration: none;
    cursor: pointer;
    @include opacity(.3);
  }

  &:hover,
  &:active {
    outline : 0;
  }

  &:hover {
    @include rotate (90);
  }

  i.fa {
    width: floor($font-size-base * 1.5);
  }

  // [converter] extracted button& to button.close
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}