form {
margin : 0 0 $base-lineheight 0;
font-family : $form-font-family;

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
margin-top: -1.2em;
}

p {
margin-bottom : $base-lineheight / 2; }

ul {
list-style-type : none;
margin : 0 0 $base-lineheight 0;
padding : 0; }

br {
display : none; }
}

fieldset {
border-width : 0;
background: #fafafa;
clear: both;
margin: 0 0 $base-lineheight/5;
padding: $base-lineheight;
position: relative;
text-align: left;
min-width: 0;


&:last-of-type {
margin-bottom : 0; }

}

legend {
display : block;
width : 100%;
margin-bottom : 0;
margin-top: 0;
*margin-left : -7px;
padding : 0 0 $base-lineheight / 2 0;
border : 0;
color : $headings-color;
@include font-size($font-size-numeric * 1.5);
font-weight : bold;
line-height : $base-lineheight;
white-space : normal;

small {
font-size : $base-lineheight * .75;
color : $form-small-color; }
}

.form-error {
  .note {
    font-family: "opensans-regular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-bottom: .45em;
    float: right;
  }
  label, em, .note {
    color: $color-error;
  }
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  textarea {
    background-color: lighten($color-error, 35%);
    border-color: $color-error;
    color: $color-error;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    }
}

label,
input,
button,
select,
textarea {
font-family : $form-font-family; }

label {
display : block;
margin-bottom : $base-lineheight / 4;
@include font-size($font-size-numeric); }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"]{
display : inline-block;
margin-bottom : $base-lineheight / 2;
padding : $form-input-padding;
@include font-size($font-size-numeric);
line-height : $base-lineheight;
color : inherit;
border-radius : $form-input-border-radius;
vertical-align : middle; }

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
display: -webkit-inline-flex; }

input,
textarea {
width : 100%;
@include box-sizing(border-box); }

textarea {
height : auto;
resize-x : none; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
background-color : $form-input-bg-color;
// @include formbinputgrad;
border : $form-input-border-width $form-input-border-style $form-input-border-color;

&:hover {
border-color : $form-input-border-color-hover; }

&:focus {
border-color : $form-input-border-color-focus;
outline : 0;
outline : thin dotted \ 9; }
}

input[type="radio"]{
margin : 0 9px 4px 0;
line-height : normal; }

input[type="checkbox"] {
margin : 4px $padding-base-horizontal 0 0;
*margin-top : 0;
margin-top : 1px \ 9;
line-height : normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
width : auto; }

select {
padding : 0;
width : 90%; }

select[multiple],
select[size] {
height : auto; }

select[multiple] {
  min-height: $gutter-horizontal*4;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
outline : thin dotted #333;
outline : 5px auto -webkit-focus-ring-color;
outline-offset : -2px; }

input,
textarea {
@include placeholder($form-input-placeholder-color); }

// radio / checkbox

.radio,
.checkbox {
min-height : $base-lineheight;
@include font-size($font-size-numeric); }

.checkbox {line-height: 1.25em; }
.radio {}

.radiobtn input[type="radio"],
.checkbox input[type="checkbox"] {
float : left;}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
padding-top : 5px; }

.radio.inline,
.checkbox.inline {
display : inline-block;
padding-top : 5px;
margin-bottom : 0;
vertical-align : middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
margin-left : $padding-base-horizontal; }

// sizes

// General classes for quick sizes
.input-mini       { width : 60px; }
.input-small      { width : 90px; }
.input-medium     { width : 150px; }
.input-large      { width : 210px; }
.input-xlarge     { width : 270px; }
.input-xxlarge    { width : 530px; }

// disabled

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
opacity : .25; }

// actions

.form-actions {
margin-top : $base-lineheight;
margin-bottom : $base-lineheight;
padding : ($base-lineheight - 1) $gutter-horizontal $base-lineheight;
@include clearfix; }

// placeholder

[placeholder]:focus::-webkit-input-placeholder {
opacity : 0;
transition : opacity .5s .5s ease; }

.form-horizontal {

.control-group {
margin-bottom : $base-lineheight;
@include clearfix; }

.control-label {
float : left;
width : 49%;
padding-top : 5px;
padding-right : $gutter-horizontal;
text-align : right;
@include box-sizing(border-box); }

.controls {
*display : inline-block;
margin-left : 49%;
*margin-left : 0;
*padding-left : $gutter-horizontal;

&:first-child {
*padding-left : $gutter-horizontal; }
}/*controls*/

.help-block {
margin-bottom : 0; }

input,
select,
textarea {

+ .help-block {
margin-top : $base-lineheight / 2; }
}/*input*/

.form-actions {
padding-left : 49%; }
}

.form-horizontal {
  &.small-form {
    .control-label {
      width : 14%;
      text-align : left;
    }

    .controls {
      margin-left : 14%;
    }
  }

input,
textarea,
select {
display : inline-block;
*display: inline;
*zoom : 1;
margin-bottom : 0;
vertical-align : middle; }

.hide {
display : none; }

label {white-space: nowrap;}

label,
.btn-group {
display : inline-block; }

.control-group {
margin-bottom : $base-lineheight / 2; }

legend + .control-group {
margin-top : $base-lineheight;
-webkit-margin-top-collapse : separate; }

}/*form-horizontal*/

input.search-query {
margin-bottom : 0;
padding-right : 14px;
padding-right : 4px \ 9;
padding-left : 14px;
padding-left : 4px \9;
border-radius : 0; }

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
border-radius : 0; }

.form-search .input-append .search-query {
border-radius : 14px, 0, 0, 14px; }

.form-search .input-append .btn {
border-radius : 0, 14px, 14px, 0; }

.form-search .input-prepend .search-query {
border-radius : 0, 14px, 14px, 0; }

.form-search .input-prepend .btn {
border-radius : 14px, 0, 0, 14px; }

.form-search {

input,
textarea,
select {
display : inline-block;
*display: inline;
*zoom: 1;
margin-bottom : 0;
vertical-align : middle; }

.hide {
display : none; }

label,
.btn-group {
display : inline-block; }

.radio,
.checkbox {
margin-bottom : 0;
padding-left : 0;
vertical-align : middle; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
float : left;
margin {
right : 3px;
left : 0; }
}/*radio*/

.control-group {
margin-bottom : $base-lineheight / 2; }

legend + .control-group {
margin-top : $base-lineheight;
-webkit-margin-top-collapse : separate; }
}/*form-search*/