// hr

hr {
  clear : both;
  display : block;
  margin : $base-lineheight 0;
  padding : 0;
  height : 1px;
  border : 0;
  border-top : 1px solid $border-color;
  &.tall {
    margin : $base-lineheight * 2 0;
  }
  &.short {
    margin : floor($base-lineheight / 2) 0;
  }
}

// img

img {
max-width : 100%;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

.img-rounded {
border-radius :$border-radius; }

.img-polaroid {
padding : $padding-base-horizontal;
background-color : $white;
border : 1px solid $border-color;
box-shadow : 0 1px 3px rgba(0,0,0,.1); }

.img-circle {
border-radius : 500px; }

// figure

figure {
margin-bottom : $base-lineheight;

img {
margin-bottom : $base-lineheight / 4; }

figcaption {
display : block;
font-weight : normal;
@include font-size(14);
font-style : italic;
color : $color-neutral-mid; }
}