table {
max-width : 100%;
background-color : $table-bg-color;
border-collapse : collapse;
border-spacing : 0;
width : 100%;
margin-bottom : $base-lineheight;

th,
td {
padding : $table-padding;
vertical-align : top;
border-top : $table-border-width$table-border-style $table-border-color;
@include font-size($font-size-numeric / 1.25);
line-height : $base-lineheight;
text-align : left; }

th {
font-weight : bold;
color: $color-neutral-dark; }

thead th {
vertical-align : bottom; }

colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
border-top : 0; }

tbody + tbody {
border-top : $table-border-width* 2 $table-border-style $table-border-color; }

tbody tr td,
tbody tr th {
@include transition(background-color $transition-duration 0 ease); }

tbody tr:hover td,
tbody tr:hover th {
background-color : $table-bg-hover; }
}

// CONDENSED ====================================================

.table-condensed {

th,
td {
padding : 4px 5px; }
}

// BORDERED ====================================================

.table-bordered {
border : $table-border-width$table-border-style $table-border-color;
border-left : 0;
border-collapse : separate;
*border-collapse : collapsed;

th,
td {
border-left : $table-border-width$table-border-style $table-border-color; }

caption + thead tr:first-child th,
caption + tbody tr:first-child th,
caption + tbody tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + tbody tr:first-child th,
colgroup + tbody tr:first-child td,
thead:first-child tr:first-child th,
tbody:first-child tr:first-child th,
tbody:first-child tr:first-child td {
border-top : 0; }

}

// STRIPED ====================================================

.table-striped {

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
background-color : $table-bg-stripe; }

  tbody tr:nth-child(odd):hover td,
  tbody tr:nth-child(odd):hover th {
  background-color : $table-bg-hover; }

}

// HOVER ====================================================

.table-hover {

tbody {
tr:hover td,
tr:hover th {
background-color : $table-bg-hover; }
}
}