//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

div + .alert {
  margin-top: $gutter-vertical-small;
}

.alert {
  padding : $alert-padding;
  margin-bottom : $base-lineheight;
  border : $alert-border-width $alert-border-style $alert-border-color;
  border-radius : $alert-border-radius;
  @include font-size($alert-font-size);
  background-color : $alert-background-color;
  color : $color-alert;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  .alert-link {
    text-decoration: underline;
    color: $color-alert;
    &:hover {
      color: lighten($color-alert, 20%);
    }
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -10px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($color-success, $alert-border-color-success, $color-alert-success);
  .alert-link {
    color: $color-alert-success;
    &:hover {
      color: lighten($color-alert-success, 20%);
    }
  }
}
.alert-info {
  @include alert-variant($color-info, $alert-border-color-info, $color-alert-info);
  .alert-link {
    color: $color-alert-info;
    &:hover {
      color: lighten($color-alert-info, 20%);
    }
  }
}
.alert-danger, .alert-error {
  @include alert-variant($color-error, $alert-border-color-error, $color-alert-error);
  .alert-link {
    color: $color-alert-error;
    &:hover {
      color: darken($color-alert-error, 10%);
    }
  }
}