.breadcrumb, ul.breadcrumb {
  list-style-type : none;
  margin : 0 0 $base-lineheight;
  padding : $base-lineheight/2 0;
  @include font-size($breadcrumb-font-size);
  color : $breadcrumb-color;

  > li {
    background: none;
    display : inline-block;
    *display : inline;
    *zoom : 1;
    @extend .li-no-bg;
    a {
      color : $color-link;
    }

    > .divider {
      color : $color-neutral-mid;
    }
  }/*li*/

  > .active {
    color : $color-neutral-light;
  }
}/*breadcrumb*/