.modal-backdrop {
position : fixed;
top : 0;
right : 0;
bottom : 0;
left : 0;
z-index : 1040;
background-color : $black; }

.modal-backdrop.fade {
opacity : 0; }

.modal-backdrop,
.modal-backdrop.fade.in {
opacity : .8; }

.modal {
position : fixed;
top : 10%;
left : 50%;
z-index : 1050;
width : 560px;
margin-left : -280px;
background-color : $body-color;
border : $border-width $border-style $border-color;
border-radius : $border-radius;
outline : none;
@include background-clip(padding-box); }

.modal.fade {
top : -30%;
-webkit-transition : opacity $transition-duration linear, top $transition-duration ease-out;
-moz-transition : opacity $transition-duration linear, top $transition-duration ease-out;
-o-transition : opacity $transition-duration linear, top $transition-duration ease-out;
transition : opacity $transition-duration linear, top $transition-duration ease-out; }

.modal.fade.in {
top : 10%; }

.modal-header {
padding : $base-lineheight / 2 $gutter-horizontal;
border-bottom : $border-width $border-style $border-color; }



.modal-header h3 {
margin : 0;
line-height : 30px; }

.modal-body {
position : relative;
max-height : 400px;
padding : $base-lineheight $gutter-horizontal;
overflow-y : auto; }

.modal-form {
margin-bottom : 0; }

.modal-footer {
padding : $base-lineheight / 2 $gutter-horizontal;
margin-bottom : 0;
text-align : right;
border-top : $border-width $border-style $border-color;
border-radius : 0 0 inherit inherit;
*zoom : 1; }

.modal-footer:before,
.modal-footer:after {
display : table;
line-height : 0;
content : ""; }

.modal-footer:after {
clear : both; }

.modal-footer .btn + .btn {
margin-bottom : 0;
margin-left : 5px; }

.modal-footer .btn-group .btn + .btn {
margin-left : -1px; }

.modal-footer .btn-block + .btn-block {
margin-left : 0; }

.modal.hide {
display : none; }