.nav {
list-style-type : none;
margin : 0 0 $base-lineheight 0;
padding : 0;
li{
  @extend .li-no-bg;
}
}

.nav > li > a {
display : block;
margin : 0;
padding : 0; }

.nav > li > a:hover {
text-decoration : none;
background-color : $navbar-link-background-color-hover; }

.nav > li > a > img {
max-width : none; }

.nav > .pull-right {
float : right; }

.nav-header {
display : block;
padding : 3px $padding-base-horizontal;
@include font-size(11);
font-weight : bold;
line-height : $base-lineheight;
color : $color-neutral-light;
text-transform : uppercase; }

.nav li + .nav-header {
margin-top : 9px; }

// List

.nav-list {
padding-left : $padding-base-horizontal;
padding-right : $padding-base-horizontal;
margin-bottom : 0; }

.nav-list > li > a,
.nav-list .nav-header {
margin-left :  -$padding-base-horizontal;
margin-right : -$padding-base-horizontal; }

.nav-list > li > a {
padding : 3px 15px;
color : $color-link; }

.nav-list > .active > a,
.nav-list > .active > a:hover {
color: $white;
background-color : $color-link;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
margin-right : 2px; }

// Tabs

.nav-tabs {
@include clearfix;
padding-left : $padding-base-horizontal;
border-bottom : $border-width $border-style $border-color; }

.nav-tabs > li {
float : left;
margin-bottom : -1px; }

.nav-tabs > li > a {
padding-top : 8px;
padding-bottom : 8px;
line-height : $base-lineheight;
border : $border-width $border-style transparent;
border-radius : $border-radius $border-radius 0 0;
padding-right : 11px;
padding-left : 11px;
margin-right : 2px;
line-height : 14px;

&:hover {
border-color : $color-neutral-lighter $color-neutral-lighter $border-color;
border-bottom-color : transparent; }
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
color : $color-link;
background-color : $body-color;
border : $border-width $border-style $border-color;
border-bottom-color : transparent;
cursor : default; }


// Stacked tabs

.nav-stacked > li {
float : none; }

.nav-stacked > li > a {
margin-right : 0; }

// Tabs

.nav-tabs.nav-stacked {
border-bottom : 0; }

.nav-tabs.nav-stacked > li > a {
border : $border-width $border-style $border-color;
border-radius : 0; }

.nav-tabs.nav-stacked > li:first-child > a {
border-top-radius : $border-radius; }

.nav-tabs.nav-stacked > li:last-child > a {
border-bottom-radius : $border-radius; }

.nav-tabs.nav-stacked > li > a:hover {
border-color : $border-color;
z-index : 2; }

// Tabbable

.tabbable {
padding : 0;
@include clearfix; }

.tab-content {
overflow : auto; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
border-bottom : 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
display : none; }

.tab-content > .active,
.pill-content > .active {
display : block; }

.tabs-below > .nav-tabs {
border-top : $border-width $border-style $border-color;
}
.tabs-below > .nav-tabs > li {
margin-top : -1px;
margin-bottom : 0; }

.tabs-below > .nav-tabs > li > a {
border-radius : 0 0 $border-radius $border-radius; }

.tabs-below > .nav-tabs > li > a:hover {
border-bottom-color : $border-color;
border-top-color : transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
border-color : transparent $border-color $border-color $border-color;
}

// Left and right

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
float : none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
min-width : 74px;
margin-right : 0;
margin-bottom : 3px; }

// Tabs left

.tabs-left > .nav-tabs {
float : left;
margin-right : 19px;
border-right : $border-width $border-style $border-color; }

.tabs-left > .nav-tabs > li > a {
margin-right : -1px;
border-radius : $border-radius 0 0 $border-radius; }

.tabs-left > .nav-tabs > li > a:hover {
border-color : $color-neutral-lighter $border-color $color-neutral-lighter $color-neutral-lighter;
border-right-color : transparent; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
border-color : $border-color transparent $border-color $border-color;
*border-right-color : $white; }

// Tabs right

.tabs-right > .nav-tabs {
float : right;
margin-left : 19px;
padding : 0;
border-left : $border-width $border-style $border-color; }

.tabs-right > .nav-tabs > li > a {
margin-left : -1px;
border-radius : 0 $border-radius $border-radius 0; }

.tabs-right > .nav-tabs > li > a:hover {
border-color : $color-neutral-lighter $color-neutral-lighter $color-neutral-lighter $border-color;
border-left-color : transparent; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
border-color: $border-color $border-color $border-color transparent;
*border-left-color : $white; }

// Disabled

.nav > .disabled > a {
color : $color-neutral-light; }

.nav > .disabled > a:hover {
text-decoration : none;
background-color : transparent;
cursor : default; }