.page-curl {
  position: relative;
  z-index: 1;

  > span {
    display: block;
    @include transition(color,0.3s);
  }

  &:after {
    position: absolute;
    width: 55%;
    background: none;
    content: "";
    height: 10px;
    z-index: -1;

    bottom: 10px;
    left: auto;
    right: 4px;

    @include box-shadow(10px, 0, 12px, rgba(0, 0, 0, 0.7));

    @include transform(skew(4deg) rotate(4deg));

    @include transition(box-shadow, 0.3s);

  }

  &:not(.no-hover){
    &:hover {
      &:after {
        @include box-shadow(0, 0, 0, 0);
      }
    }
  }
}

.shadow-left {

  &:before {
    position: absolute;
    width: 55%;
    background: none;
    content: "";
    height: 10px;
    z-index: -1;

    bottom: 10px;
    left: 4px;
    right: auto;

    @include box-shadow(10px, 0, 12px, rgba(0, 0, 0, 0.7));

    @include transform(skew(-4deg) rotate(-4deg));

    @include transition(box-shadow, 0.3s);

  }

  &:not(.no-hover){
    &:hover {
      &:before {
        @include box-shadow(0, 0, 0, 0);
      }
    }
  }

}