//
// Pagination (multiple pages)
// --------------------------------------------------
ul.pagination {
  li {
    background: none;
  }
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $pagination-border-radius;
  font-family: $pagination-font-family;

  > li {
    display: inline; // Remove list-style and block-level defaults
    background: none;
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $pagination-padding;
      line-height: $base-lineheight;
      text-decoration: none;
      color: $pagination-link-color;
      background-color: $pagination-background-color;
      border: $pagination-border-width $pagination-border-style $pagination-border-color;
      margin-left: -1px;
      &:hover,
      &:focus {
        color: $pagination-link-color-hover;
        background-color: $pagination-background-color-hover;
      }
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius($pagination-border-radius);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($pagination-border-radius);
      }
    }
    &:not(.disabled){
      &:first-child, &:last-child {
        > a,
        > span {
          color: $pagination-end-link-color;
          background-color: $pagination-end-background-color;
          &:hover,
          &:focus {
            color: $pagination-link-color-hover;
            background-color: $pagination-background-color-hover;
          }
        }
      }
    }
  }

  > li > a,
  > li > span {

  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-link-color-active;
      background-color: $pagination-background-color-active;
      //border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus,
    > a:visited {
      color: $pagination-link-color-disabled;
      background-color: $pagination-background-color-disabled;
      border-color: $pagination-border-color-disabled;
      cursor: $cursor-disabled;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  //@include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
}

// Small
.pagination-sm {
  //@include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);
}