.pager {
list-style-type : none;
margin : $base-lineheight 0;
padding : 0;
text-align : center;
@include clearfix; }

.pager li, ul.pager li {
display : inline;
background: none;
margin-left: 0; }

.pager li > a,
.pager li > span {
display : inline-block;
padding : $pager-padding;
background-color : $pager-background-color;
// @include pagergrad;
border : $pager-border-width $pager-border-style $pager-border-color;
border-radius : $pager-border-radius;
font-family : $pager-font-family;
@include font-size($font-size-numeric / 1.25);
color : $pager-color; }

.pager li > a:hover {
text-decoration : none;
background-color : $pager-background-color-hover;  }

.pager .next > a,
.pager .next > span {
float : right; }

.pager .previous > a,
.pager .previous > span {
float : left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
color : $color-disabled;
border-color: $color-disabled;
background-color : transparent;
cursor : $cursor-disabled; }