.twitter-feed{
    width: 100%;
    margin: 50px auto;


    .tweet {
        @extend .page-curl;
        @extend .shadow-left;

        h3 {
            margin-bottom: 0.2em;
            color: $white;
            @include text-shadow();
        }

        > span {
            padding: 15px;
            background: #55acee;
            @include vertical(#8bc7f0,#55acee);
            color: $white;
        }


        a {
            color: $white;
            display: inline-block;
            text-decoration: underline;
            &:hover {
                color: #034d7a;
            }
        }

        .date {
            margin-top: 5px;
            font-weight: bold;
            text-align: right;
        }

        li {
            @extend .li-no-bg;
        }
    }

    .button {
        width: 105px;
        height: 50px;
        background: url(img/twitter-speech.png) no-repeat;
        display: inline-block;
        z-index: 1;
        position: relative;
    }

    .follow-us {
        span {
            border: 1px solid #b4e1ff;
            @include horizontal(#55acee,#8bc7f0);
        }
        &:hover {
            span {
                color: #034d7a;
            }
        }
    }
}